[package]
name = "bm2"
version = "0.1.0"
authors = ["Raphaël Thériault <raphael_theriault@outlook.com>"]
edition = "2018"
license = "MIT"
description = "CLI for the Beat Saber mod repository BeatMods2"

[dependencies]
manifest = { path = "./manifest" }
structopt = "0.3.5"
walkdir = "2.2.9"
zip = { version = "0.5.3", default-features = false, features = ["deflate", "time"] }
failure = "0.1.6"

[workspace]
members = ["manifest"]
